# Compiled Object files
*.slo
*.lo
*.o

# Debug Object files
*.d

# Executable file
drift_detection

# Build path
build/

# Backup files
*~

# Eclipse project files
.cproject
.project

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
